<% if model.ransackable_scopes.include?(field) %>
  <div class="row mb-3">
    <%= form.label(label, class: 'pe-0 form-label') %>

    <div class="row">
      <%= form.datetime_field(field, value: form.object.send(field), class: 'form-control form-control-sm') %>
    </div>
  </div>
<% else %>
  <div class="row mb-3">
    <%= form.label(label, class: 'pe-0 form-label') %>

    <div class="row p-0">
      <div class="col-sm-6 pe-0">
        <%= form.datetime_field("#{field}_gteq", class: 'form-control form-control-sm') %>
      </div>

      <div class="col-sm-6 pe-0">
        <%= form.datetime_field("#{field}_lteq", class: 'form-control form-control-sm') %>
      </div>
    </div>
  </div>
<% end %>
